/* Start Project */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Humberger Icon */
.humberger-wrapper {
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.humberger {
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;
}

.humberger::before,
.humberger::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease-in;
    border-radius: 1rem;
}

.humberger::before {
    transform: translateY(-7px);
}

.humberger::after {
    transform: translateY(7px);
}

.humberger-wrapper.menu-active .humberger{
    transform: translateX(-40px);
    background: transparent;
}

.humberger-wrapper.menu-active .humberger::before {
    transform: rotate(45deg) translate(20px, -20px);
}

.humberger-wrapper.menu-active .humberger::after {
    transform: rotate(-45deg) translate(20px, 20px);
}

/*======= Header - start =======*/
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__logo {
    margin-right: 4rem;
    height: 25px;
}

.nav-logo_img {
    height: 100%;
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu__link{
    text-decoration: none;
    color: #081D43;
    padding: 0 1rem;
    font-weight: 300;
}

.header__link {
    background-color: #0050C8;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.3rem;
}

.header-bottom {
    margin-top: 5.5rem;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content__left {
    flex-basis: 50%;
}

.header-content__right {
    flex-basis: 50%;
}

.header-content__wrapper{
    max-width: 30rem;
}

.header-content__title {
    color: #081D43;
    font-weight: 700;
    line-height: 2.5rem;
}

.header-content__text {
    color: #6C7890;
    line-height: 2rem;
    font-size: 1.1rem;
}

.header-content__links {
    display: flex;
    margin-top: 3rem;
}

.header-content__link {
    background-color: #0050C8;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.3rem;
    margin-right: 1rem;
    display: block;
    width: 10rem;
    text-align: center;
}

.header-content__link:nth-child(1) {
    background-color: #87BC25;
}

.header-content__img {
    width: 100%;
}
/*============== Header - end ==============*/


/*============== Main - start ==============*/
.main {
    padding: 5rem 0;
}

.works {
    text-align: center;
}

.works-content {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
}

.works-content__icon {
    color: #081D43;
    font-size: 3rem;
}

.works-content__title {
    color: #081D43;
    font-size: 1.4rem;
    margin-top: 0.8rem;
    font-weight: 500;
}

.works-img {
    max-width: 31rem;
    margin: 0 auto;
}

.works-content__text {
    color: #6C7890;
    line-height: 2rem;
    max-width: 20rem;
}

.works-img__img {
    width: 100%;
}

.person-comments {
    background-color: #2F5BEA;
    color: #fff;
    text-align: center;
    margin-top: 3rem;
    padding: 5rem 0;
}

.person-comments__title {
    margin: 0;
    font-weight: 500;
}

.person-comments__text {
    font-weight: 300;
}

.comments-container {
    max-width: 65rem;
    margin: 3.5rem auto 0 auto;
}

.comments {
    display: flex;
    justify-content: space-between;
}

.comment {
    background-color: #fff;
    border-radius: 0.3rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 15rem;
    flex-basis: 20rem;
    justify-content: space-between;
}

.comment__content {
    text-align: left;
    padding: 1.2rem;
}

.comment__body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #6C7890;
    line-height: 1.7rem;
    margin: 0;
    font-style: italic;
}

.comment__info {
    color: #000;
    display: flex;
    align-items: center;
    padding: 0.8rem 1.2rem;
    border-top: 1px solid #EBEBEB;
}

.comment__img {
    margin-right: 0.5rem;
}

.user__website{
    color: #6C7890;
    font-size: 0.9rem;
    margin-left: auto;
}

.companies {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.company__logo {
    display: block;
    margin: 1rem;
}

.portfolio {
    text-align: center;
    padding: 5rem 0;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    row-gap: 2rem;
}

.portfolio__item {
    flex-basis: 22rem;
}

.portfolio__img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

.newsletter {
    background-color: #0050C8;
    padding: 3rem 0;
    color: #fff;
}

.news__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

.newsletter__text {
    font-size: 1.4rem;
    font-weight: 500;
}

.newsletter__email {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-basis: 25rem;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    border-radius: 0.3rem;
}

.newsletter__input {
    width: 100%;
    outline: none;
    border: none;
}

.newsletter__btn {
    background-color: #0050C8;
    border: none;
    outline: none;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
}
/*===================== Main - end =====================*/

/*======= Footer - start =======*/
.copy-right {
    color: #6C7890;
    padding: 0 1rem;
}

.copy-right__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-right__text {
    font-size: 0.8rem;
}
/*======= Footer - end =======*/

/*======= Project Responsive =======*/
@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .portfolio__item{
        flex-basis: 28rem;
    }

    .newsletter__text{
        max-width: 28rem;
    }

}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header__link {
        display: none;
    }
    .header-content {
        flex-direction: column-reverse;
    }
    .header-content__wrapper {
        max-width: 100%;
    }
    .header-content__right {
        max-width: 100%;
    }
    .header-content__links{
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .header-content__link{
        margin-bottom: 1rem;
    }
    .header-content__wrapper {
        margin-top: 3rem;
    }
    .comments {
        flex-wrap: wrap;
        justify-content: center;
    }
    .comment{
        flex-basis: 80%;
    }
    .companies {
        justify-content: center;
        margin-top: 2.5rem;
        flex-wrap: wrap;
    }
    .portfolio{
        padding-bottom: 0;
    }
    .portfolio__item{
        flex-basis: 20rem;
    }
    .newsletter__text{
        max-width: 20rem;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .menu {
        position: fixed;
        background-color: #3f70e1;
        right: -400px;
        top: 0;
        bottom: 0;
        width: 16rem;
        flex-direction: column; 
        padding: 2rem 1rem;
        transition: all 0.3s;
    }
    .menu__item{
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }
    .menu__link {
        color: #fff;
    }
    .humberger-wrapper {
        display: flex;
    }
    .works-content {
        flex-wrap: wrap;
    }
    .works-content__item{
        flex-basis: 14rem;
    }
    .works-content__item{
        margin-bottom: 1.5rem;
    } 
    .portfolio__item{
        flex-basis: 100%;
    }
    .newsletter__wrapper{
        flex-direction: column;
    }
    .newsletter__email{
        flex-basis: auto;
        width: 100%;
    }
    .newsletter__text{
        max-width: 100%;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    .header-content__links {
        justify-content: center;
    }
    .works-content__item{
        flex-basis: 100%;
    }
    .works-content__text{
        max-width: 100%;
    }
    .comment{
        flex-basis: 100%;
    }
    .news__wrapper {
        flex-wrap: wrap;
    }
    .copy-right__text{
        font-size: 0.6rem;
    }
}